export(
"adj.rand.index",
"adjlist2adjmat",
"adjmat2adjlist",
"adjmat2edges",
"graph.coloring", 
"chi2.coeff", 
"edges2adjlist",
"edges2adjmat",
"F.measure",
"Fowlkes.Mallow.index",
"FPR",
"get.chromatic",
"get.confusion", 
"get.entity",
"is.valid.coloring",
"Jaccard.index",
"learn.metric",
"learn.metric2",
"make.adj.mat",
"make.er.graph",
"make.graph.chrom",
"Max.match",
"Meila.Heckerman",
"Mirkin.Metric",
"mqcpp",
"mutual.info",
"partition.diff",
"rand.index",
"TPR",
"Van.Dongen"
)

importFrom(Rcpp,sourceCpp)
useDynLib(GCMER, .registration = TRUE)

